<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>The page is a write page</title>
  </head>
  <link rel="stylesheet" href="contents.css" />
  <script th:inline="javascript"></script>
  <body>
    <div class="login">
      <h1>Login</h1>
      <h1 th:text="${result}"></h1>
      <h1 th:text="${fail}"></h1>
      <form method="post" action="/login">
        <input
          type="text"
          name="simpleId"
          placeholder="Username"
          required="required"
        />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required="required"
        />
        <button type="submit" class="btn btn-primary btn-block btn-large">
          Let me in.
        </button>

      </form>
      <button><a href="userregister">Sign Up</a></input>
      <button><a href="findidpw">Forgot ID/PW</a></input>
    </div>
  </body>
</html>
