<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>The page is a write page</title>
  </head>
  <link rel="stylesheet" href="contents.css" />
  <body>
    <div class="login">
      <h1 th:text="${result}"></h1>
    </div>
  </body>
</html>
