<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>US IPO Table</title>
    <script
      src="https://kit.fontawesome.com/2c6bbdb178.js"
      crossorigin="anonymous"
    ></script>
    <style>
      table {
        width: 700px;
      }

      table,
      th,
      td {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        border-collapse: collapse;
        text-align: center;
      }

      a:visited {
        color: darkgray;
      }

      #companyName {
        text-align: left;
      }
    </style>
  </head>
  <body>
    <section id="tableHeader">
      <a href="create">Create</a>
      <div id="searchBar">
        <a href="#">Search</a>
      </div>
    </section>

    <section id="table">
      <table>
        <tr>
          <th>No</th>
          <th>IPO Date</th>
          <th>Company</th>
          <th>Ticker</th>
          <th>Category</th>
          <th>Writer</th>
          <th>Upload Date</th>
        </tr>
        <tr th:each="CreateDto : ${List}">
          <td th:text="${CreateDto.Company}"></td>
          <td th:text="${CreateDto.Ticker}"></td>
          <td th:text="${CreateDto.IPODate}"></td>
        </tr>
      </table>
      <p th:text="${List}"></p>
    </section>
    <section id="footer">
      <a href="#"><i class="fas fa-angle-double-left"></i></a>
      <a href="#"><i class="fas fa-angle-left"></i></a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">7</a>
      <a href="#">8</a>
      <a href="#">9</a>
      <a href="#"><i class="fas fa-angle-right"></i></a>
      <a href="#"><i class="fas fa-angle-double-right"></i></a>
    </section>

    <!-- Javascript
    <script>
      getCompany();

      const tableContent = document.querySelector("#table");

      window.addEventListener("DOMContentLoaded", function () {
        console.log("Hello, world");
      }); -->
    </script>
  </body>
</html>
