<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>The page is a write page</title>
  </head>
  <link rel="stylesheet" href="contents.css" />
  <script th:inline="javascript"></script>
  <style>
    div {
      margin: auto;
      width: 50%;
    }

    h1 {
      width: 143px;
      margin: 10px auto;
      color: #ffffff;
    }

    table {
      background-color: #ffffff;
      text-align: center;
      width: 100%;
      border-collapse: collapse;
    }

    table thead tr {
      border-bottom: 2px solid #000000;
    }

    table td {
      width: 100px;
    }
  </style>
  <body>
    <div>
      <h1>USERLIST</h1>
      <table>
        <thead>
          <tr>
            <td>ID</td>
            <td>FIRSTNAME</td>
            <td>LASTNAME</td>
            <td>PHONE</td>
            <td>EMAIL</td>
            <td>ADDRESS</td>
          </tr>
        </thead>
        <tbody>
          <tr th:each="list : ${lists}">
            <td th:text="${list.simpleId}" />
            <td th:text="${list.memberFirstName}" />
            <td th:text="${list.memberLastName}" />
            <td th:text="${list.phone}" />
            <td th:text="${list.email}" />
            <td th:text="${list.address}" />
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
